<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Welcome</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}"/>
</head>
<body>
<div class="form-style-2">
    <table style=" width: 100%; border: 4px double black;">
        <table align="form-style-2" border="2px" bgcolor="#ffe4b5" >
        <tr>
            <td style="border: 1px solid black; text-align: center">
                <a th:href="@{/admin/admin}">back to AdminPanel</a>
            </td>
            <div class="form-style-2-heading">
            </div>

        </tr>
    </table>
    <div class="form-style-2-heading">
        Change User!
    </div>
    <table>
        <table align="form-style-2" border="2px" bgcolor="#ffe4b5" >
        <tr>
           <th>id</th>
            <th>firstName</th>
            <th>lastName</th>
            <th>email</th>
            <th>role</th>
            <th>state</th>

           <th>password</th>
        </tr>

            <tr th:each="user : ${usersFromDB}">
                <td th:utext="${user.id}">...</td>
                <td th:utext="${user.firstName}">...</td>
                <td th:utext="${user.lastName}">...</td>
                <td th:utext="${user.email}">...</td>
                <td th:utext="${user.role.name()}">...</td>
                <td th:utext="${user.state.name()}">...</td>
            </tr>

    </table>
    </table>
    </table>
    <h4>Input new parametrs</h4>
    <form method="post" th:action="@{/admin/updateUsers}">

        <label for="firstName">FirstName
            <input id="firstName" name="firstName" >
        </label></br>
        <label for="lastName">Lastname
            <input id="lastName" name="lastName" >
        </label></br>
        <label for="email"> Email
            <input id="email" name="email" >
        </label></br>
        <label for="password">Password
            <input type="password" id="password" name="password" >
        </label></br>
        <label for="role"> Role
            <select name="role" id="role" size="1" >
                <option selected value="ADMIN">ADMIN</option>
                <option selected value="USER">USER</option>
            </select>
        </label></br>
        <label for="state"> State
            <select name="state" id="state" size="1">
                <option selected value="BANNED">BANNED</option>
                <option selected value="DELETED">DELETED</option>
                <option selected value="ACTIVE">ACTIVE</option>
            </select>
        </label></br>

        <input type="submit" value="update in DB!">
    </form>



</div>
</body>
</html>
