<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>web3-registration</title>
</head>
<body>

<table style=" width: 100%; border: 4px double black;">
    <tr>
        <td style="border: 1px solid black; text-align: center">
            <a href="/transaction">Transaction</a>
        </td>
    </tr>
</table>



<form action="/registration" method="POST">
    <label for="name">name
        <input  type="text" id="name" name="name">
    </label>
    <label for="password">password
        <input type="password" id="password" name="password">
    </label>
    <label for="money">money
        <input type="text" id="money" name="money">
    </label>
    <input type="submit" value="submit">
</form>


</body>
</html>

